@import url('../fonts/fonts.css');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* Regular */
}

h1,
h2,
h3 {
    font-weight: 700;
    /* Bold */
}

.light-text {
    font-weight: 300;
    /* Light */
}

.heavy-text {
    font-weight: 900;
    /* Black */
}